<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/pictures/2.jpeg">
    <link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/style.css">
    <link rel="stylesheet" href="/main.css">
    <title>Trishita:Smart-Connect</title>
</head>


<body>
    <!--<div id="header">
       <img class="logo" src="" alt="Autodesk Platform Services">
        <span class="title">Simple Viewer</span>
    
        <a href="/login" class="button">Click me</a>
    </div>
    -->

    <nav class="navbar">
        <div class="logo">
            <img src="/pictures/TRISHITA.png" alt="MyLogo" style="height: 35px;">
        </div>
        <a href="/login"><button class="login-btn">Sign In</button></a>
    </nav>

    <div id="preview"></div>
    <div id="overlay"></div>

    <script src="https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/viewer3D.js"></script>
    <script src="/main.js" type="module"></script>

</body>


</html>