body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: ArtifaktElement;
}

#header, #preview, #overlay {
    position: absolute;
    width: 100%;
}
form {
    display: flex;
    flex-direction: row;
  }

#header {
    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
}

#preview, #overlay {
    top: 4em;
    bottom: 0;
    margin-top: -15px;
}

#overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    display: none;
}

#overlay > .notification {
    margin: auto;
    padding: 1em;
    max-width: 50%;
    background: white;
}

#header > * {
    height: 2em;
    margin: 0 0.5em;
    font-size: 1em;
    font-family: ArtifaktElement;
}

#header .title {
    flex: 1 0 auto;
    height: auto;
}

#models {
    flex: 0 1 auto;
    min-width: 2em;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #faf4f4;
  
  }

  /* Logo Styling */
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }

  /* Login Button Styling */
  .login-btn {
    background-color: #485248;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }

  .navbar .login-btn:hover {
    background-color: #45a049;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  }




#upload{
    border: none;
}
#logout{
    
    border:none;
    
}




